.shapes {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: #ffffff;
    overflow: hidden;
  }
  
  .shape {
    will-change: transform;
    position: absolute;
    border-radius: 50%;
  }
  
  .shape.shape-1 {
    background: #707070;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
  }
  
  .shape.shape-2 {
    background: #121212;
    width: 440px;
    height: 440px;
    margin: -220px 0 0 -220px;
  }
  
  .shape.shape-3 {
    background: #000000;
    width: 270px;
    height: 270px;
    margin: -135px 0 0 -135px;
  }
  
  .content {
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: #fff;
    mix-blend-mode: screen;
  }
  
  h1 {
    font-size: 100px;
    font-weight: 200;
    color: #000;
    margin: 0;
    text-align: center;
  }
  
  .cursor {
    position: fixed;
    background: red;
    width: 15px;
    height: 15px;
    margin: -10px 0 0 -10px;
    border-radius: 50%;
    will-change: transform;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
  }
  
  ::selection {
    color: #fff;
    background: #2128bd;
  }
  